nav,
footer {
  width: 100%;
  background-color: #f1f7ff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
footer {
  margin-top: 50px;
}

.footerbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 35px 60px;
}

.navbar-logo {
  height: 50px;
}

.upload-button:hover {
  border: 1px solid #0029e4;
  background: white;
  color: #0029e4;
}

.navbar,
.footerbar,
.management-journey-section,
.how-to-use-section,
.insights-section {
  width: 75%; /* Sets width to 75% for these sections */
  margin: auto; /* Centers the content */
}
.profile-evaluation-section {
  padding: 35px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%; /* Sets width to 60% for these sections */
  margin: auto; /* Centers the content */
  text-align: left;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container h1 {
  margin-top: 0;
  margin-bottom: 20px; /* 20px padding below the heading */
}

.text-container p {
  margin-top: 0;
  margin-bottom: 20px; /* 20px padding below the paragraph */
}

.upload-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #0029e4; /* Adjust the color as needed */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  max-width: 250px;
  margin: 35px 10px 30px 0px;
}

.image-container {
  flex: 0.6;
  padding: 20px;
  min-height: 300px; /* Adjust based on your text container's approximate height */
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 100%; /* Keep image height within the container */
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.management-journey-section {
  background-color: #f1f7ff;
  padding: 35px 0px;
  text-align: center;
  width: 100%;
}

.management-journey-section .management-text {
  width: 60%;
  margin: auto; /* Centers the section */
}

.how-to-use-section {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 35px 60px;
}

.how-to-use-section h2 {
  margin: 20px 0px 40px 0px;
}

.analysis-section {
  padding: 20px 0px;
  text-align: center; /* Center the content */
  width: 75%;
  margin: auto; /* Centers the section */
}

.section-title {
  padding: 0px 0px 20px 0px;
}

.drag-drop-box img {
  padding-top: 30px;
}
.upload-icon {
  margin-bottom: 10px; /* Adjust as needed /
width: 50px; / Adjust as needed */
  height: auto;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.card h3,
.card p {
  text-align: left;
  line-height: 20px;
}

.card h3 {
  margin-bottom: 15px;
}

.custom-hr {
  height: 4px;
  background-color: lightgray; /* Light gray color */
  border: none; /* Removes default border */
  width: 75%; /* 75% of the parent element's width */
  margin: 20px auto; /* 20px top and bottom margin, auto centers it horizontally */
}

.section-title {
  text-align: center;
  width: 75%;
  margin: 20px auto;
}

.upload-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 75%;
  margin: auto;
}

.drag-drop-box {
  min-height: 250px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border: 2px dashed lightgray;
  padding: 20px;
  width: 70%; /* Adjust as needed */
  text-align: center;
  cursor: pointer;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.progress-bar-container {
  width: 75%;
  margin: 20px auto;
  /* Light gray background */
  border-radius: 5px;
  position: relative;
}

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #ccc 0%, #ddd 100%);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  width: 0%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  background-color: #79b;
  background-size: 40px 40px;
  border-radius: 10px 0 0 10px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 30%,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0.1) 34%,
    transparent 34%,
    transparent 46%,
    rgba(0, 0, 0, 0.1) 46%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0.1) 84%,
    transparent 84%,
    transparent 96%,
    rgba(0, 0, 0, 0.1) 96%,
    rgba(0, 0, 0, 0.1)
  );
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  transition: width 200ms ease;
  animation: progress-bar-animate 1s linear infinite;
}

@keyframes progress-bar-animate {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.ai-response-box {
  width: 75%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark text for contrast */
  border-radius: 5px; /* Optional: if you want rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow */
}
.form-main {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px;
  width: 60%; /* Adjust the width as needed */
  align-items: center;
}

.form-input {
  width: calc(100% - 20px); /* Adjust the width to consider padding */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.phone-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.phone-input {
  width: 100%;
}

.otp-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-right: 10px;
}

.otp-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  min-width: 120px; /* Set a minimum width to prevent text wrapping */
  white-space: nowrap; /* This prevents the text from wrapping */
  overflow: hidden; /* Ensures that text doesn't overflow */
  text-overflow: ellipsis;
}
.otp-button :hover {
  background-color: white;
  color: #4caf50;
  border: 1px solid #4caf50;
}

.status-message {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.status-message.success {
  background-color: green;
}

.status-message.error {
  background-color: red;
}

.react-tel-input .form-control {
  width: 100% !important;
}

.download-button-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
}
.blue-color-text {
  color: #0029e4;
}

.usage-message {
  text-align: center;
  color: #ff5e6c; /* Example color, change as needed */
  margin-top: 20px;
}
.insights-section {
  text-align: center;
}

.insights-section p {
  text-align: center;
  width: 60%;
  margin: auto;
}

.insights-section h2 {
  margin: 60px 0px 20px 0px;
}

.otp-button:hover {
  background-color: white;
  color: #4caf50;
  border: 1px solid #4caf50;
}
/* Responsive adjustments */

@media (max-width: 1300px) {
  .drag-drop-box {
    width: 75%;
  }
}

@media (max-width: 1200px) {
  .image-container {
    min-height: 200px; /* Adjust for smaller screens */
  }
}

@media (max-width: 1025px) {
  .image-container {
    display: none; /* Hide image on very small screens */
  }
  .card img,
  .navbar button {
    display: none;
  }
}

@media (max-width: 850px) {
  .how-to-use-section,
  .profile-evaluation-section {
    width: 70%;
  }

  .management-journey-section .management-text {
    width: 75%;
  }

  .how-to-use-section {
    width: 72%;
  }

  .analysis-section,
  .insights-section p {
    width: 100%;
  }

  .form-main {
    width: 80%;
  }

  .ai-response-box {
    width: 90%;
  }
}

@media (max-width: 780px) {
  .otp-button {
    width: auto; /* Adjust the width as needed */
    max-width: 150px; /* Prevent the button from taking full width */
    margin-top: 8px; /* Add margin-top to the Send OTP button */
    margin-bottom: 8px; /* Ensure space below the button */
    margin-right: auto; /* Center the button */
    margin-left: auto; /* Center the button */
  }
  /* .react-tel-input .form-control {
    width: 94% !important;
  } */
  .phone-container {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .form-phone-row .otp-button,
  .form-verify-row .otp-button {
    margin-top: 8px; /* Add space above the Send OTP button */
  }
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .phone-input,
  .otp-input {
    width: 94%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar,
  .footerbar {
    flex-direction: column;
    padding: 20px;
  }

  .navbar-logo {
    margin-bottom: 20px;
  }

  .profile-evaluation-section {
    flex-direction: column;
  }
  .download-button-container {
    flex-direction: column;
  }
  .cards-container {
    flex-direction: column;
  }
}

@media (max-width: 281px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  .upload-button,
  p {
    font-size: 15px;
  }
}
